- Plan.all.each do |plan|
  = form_tag charges_path do
    = hidden_field_tag :stripePlan, plan.stripe_id
    %article
      %label.amount
        %span= "Amount: #{plan.price_in_cents}"
    %script.stripe-button{"data-amount" => "#{plan.price_in_cents}", 
                          "data-description" => "#{plan.description}", 
                          "data-key" => Rails.configuration.stripe[:publishable_key], 
                          :src => "https://checkout.stripe.com/checkout.js"}
