<!DOCTYPE html>
<html>
<head>
  <title>Parsenip</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

  <%= render partial: 'shared/header' %>
  <div class="flash-outer notice">
    <%= notice %>
  </div>
  <div class="flash-outer alert">
    <%= alert %>
  </div>
  <div class="flash-outer notice">
    <%= flash[:success] %>
  </div>
  <div class="flash-outer alert">
    <%= flash[:error] %>
  </div>

  <div id="new-api-key" class="modal">
    <%= render partial: 'api_keys/form' %>
  </div>
  <div class="modal-shadow"></div>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
